<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到blog.me</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
</head>
<body class="background">
<div id="page">
    <header id="branding">
        <section id="site-title">section</section >
        <img src="static/img/215945mthfxxpcqnlxtnpz.jpg">
        <nav id="access">
            <div class="menu-container">
                <ul>
                    <li>
                        <a href="#">最新更新</a>
                    </li>
                    <li>
                        <a href="#">spring</a>
                    </li>
                    <li>
                        <a href="#">solr</a>
                    </li>
                    <li>
                        <a href="#">celery</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section>
        <div id="content">
            <article class="hentry" v-for="article in articles">
                <header>
                    <div class="entry-title">
                        <a href="#">{{article.title}}</a>
                    </div>
                    <div class="entry-meta">
                        <span>发表于</span>
                        <a v-bind:href="article.href"><time>{{article.publishTime}}</time></a>
                        <span>
                            由<span><a href="#">{{article.author}}</a></span>
                        </span>
                    </div>
                    <div class="comments-link">
                        <a href="#">{{article.commentsNumber}}</a>
                    </div>
                </header>
                <div class="entry-content">
                    <p><img class="aligncenter" v-bind:src="article.contentPictureHref"></p>
                    <p>{{article.summary}}</p>
                </div>
                <footer class="entry-meta">
                    <span class="cat-links">
				        <span class="entry-utility-prep entry-utility-prep-cat-links">发表在</span> <a href="#" rel="category tag">{{article.topic}}</a></span>
                    <span class="sep"> | </span>
                        <span class="tag-links">
				            <span class="entry-utility-prep entry-utility-prep-tag-links">标签为</span>

                              <template v-for="(tag, index) in article.tag">
                                  <template v-if="index < (article.tag.length - 1)">
                                      <a href="#" rel="tag">{{tag}}</a> &
                                  </template>
                                  <template v-else>
                                      <a href="#" rel="tag">{{tag}}</a>
                                  </template>
                              </template>
                        </span>
                        <span class="sep"> | </span>
                    <span class="comments-link"><a href="#"><b>{{article.commentsNumber}}</b>条回复</a></span>
                </footer>
            </article>
        </div>
        <div class="secondary"></div>
    </section>
    <footer id="colophon" role="contentinfo">
        <div id="site-generator">
            <center>Power by iven.me Copyright © 2011-2018 iven All Rights Reserved</center>
        </div>
    </footer>
</div>

</body>
<script type="text/javascript" src="script/vue.js"></script>
<script type="text/javascript" src="script/index.js"></script>
</html>